<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Verification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></head>
    
</head>

<body>
    <div class = "container">
        <h1>Admin Verification</h1>

    <!-- Admin Password Form -->
        <form action="/admin_password" method="POST">
            <label>Enter Admin Password: <input type="password" name="password" required></label><br>
            <button type="submit">Submit</button>
        </form>
    </div>

</body>

</html>
