<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1> IQ TypeRacer (Login) </h1>
        <h1>Login</h1>
        <form action="/login" method="post"  onsubmit="return validateEmail()">
            
            <input type="text" name="name" placeholder="Name" required>
            
            <input type="email" name="email" placeholder="Email" required>
            
            <button type="submit">Login</button>
        </form>
        <script>
            function validateEmail() {
                var email = document.getElementById('email').value;
                if (email.indexOf('@') === -1) {
                    alert("Please enter a valid email with an '@' symbol.");
                    return false; // Prevent form submission
                }
                return true; // Allow form submission
            }
        </script>
    
    </div>
</body>
</html>
